@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sprint #4</h1>
    <p class="lead">Proyecto basado en requisitos del Sprint #4</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Requisito #139</h2>
        <p>
            El administrador del hotel ha de tener acceso al listado de huéspedes del hotel por fecha de registro.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Requisitos #145</h2>
        <p>El administrador debe de tener acceso al listado de las reservas realizadas por fecha.</p>
    </div>
    <div class="col-md-4">
        <h2>Requisitos #154</h2>
        <p>El huésped debe de tener acceso al listado de eventos por fecha que se lleven a cabo dentro del hotel.</p>
    </div>
</div>